.m_t{
    border-bottom: 5px solid #B9A989;
}

.boardBox{
    border: 1px solid #B9A989;
    margin-top: 50px;
    padding: 20px;

}

#boardTop{
    background-color: #f8f5ea;
    border-top: 1px solid #E2E2E8;
}

#tableStyle{
    border: 1px solid #c5bba598;
}

.clou{
    background-color: #f8f5ea !important;
    text-align: center;
    width: 10vw;
}

.ro1{
    text-align: center;
    width: 15vw;
}

#btnP{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
