
@font-face {
    font-family: "ns_r";
    src: url(../font/NotoSansKR-Regular.otf);
}
@font-face {
    font-family: 'ns_b';
    src: url(../font/NotoSansKR-Black.otf);
}
@font-face {
    font-family: 'ct';
    src: url(../font/CrimsonText-SemiBoldItalic.ttf);
}

*{
    font-family: "ns_r";
    /* font-size: 15px; */
    color: #565C54;
}

body{
    margin: 0 auto;
    height: 100vh;
    position: relative;
}

/* .wrap{
    flex-direction: column;
    min-height: 100vh;
    display: flex;
} */

/* .header{
    width: 100%;
    height: 180px;
    margin: 0 auto;
    background-color: #F6EABF;
    border-bottom: 1px solid #000000;
    box-sizing: border-box;
} */

.s-wrapper{

    position: relative;
    min-width: 1180px;
    padding-top: 140px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header{
    height: 140px;
    width: 100%;
    min-width: 1180px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.head-top{
    height: 90px;
    width: 100%;
    background-color: rgb(246, 234, 191);
}
.head-top>ul{
    list-style-type: none;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0;
    overflow: hidden;
}
.head-top li{
    float: left;
}
.head-top li>a{
    margin: 0 auto;
    display: block;
    width: 200px;
    margin-top: 20px;
    
    height: 90px;
}
.logo{
    text-align: center;
    font-family: "ct";
    font-size: 40px;
    line-height: 60px;
}
.s-main-menu{
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: rgb(185, 169, 137);
    
}
.s-main-menu>ul{
    padding:0;
}
.s-main-menu>ul>li{
    text-align: center;
    list-style-type: none;
    float: left;
    height: 80px;
}
.s-main-menu>ul>li:hover .s-sub-menu{
    display: block;

}
.s-main-menu>ul>li>a>span{
    width: 200px;
    color: rgb(246, 239, 216);
    display: block;
    font-family: "ns_b";
    font-size: 18px;
    border-right: 1px solid rgb(246, 239, 216);
}
.s-main-menu>ul>li>a>span:hover{
    
    color: rgb(255, 255, 255);
}

.main{
    width: 1200px;
    margin: 55px auto;
    margin-bottom: 150px;
    flex-grow: 1;
}
.main>div{
    float: left;
}
.s-sub-menu{
    background-color: rgb(159, 148, 123);
    margin-bottom:50px;
    width: 100%;
    left: 0;
    right: 0;
    margin-top: 18px;
    padding: 0;
    display: none;
    position:absolute;
}
.s-sub-menu span{
    font-family: "ns_b";
    line-height: 40px;
    color: rgb(246, 234, 191);
    
    font-size: 14px;
    
}
.s-sub-menu li{
    width: 150px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}
.s-sub-menu>li>a>span:hover{
    color: rgb(255, 255, 255);
}
.main-login-btn,.s-main-res{
    text-align: right;
    margin-right: 20px;
}
.main-join-btn,.tourguide{
    text-align: left;

}
.main-lifestyle{
    height: 63px;
    margin-top: -19px;
    line-height: 63px;
    width: 200px;
    text-decoration: underline;
    display: block;
    background-color:rgb(51, 51, 51) ;
}
.main-lifestyle-menu{
    margin-top: 0;
}
.main-navi{
    position: relative;
    
}
/* .footer{
	bottom: 0;
    height: 330px;
    background-color: #F6EABF;
} */

.footer{
    width: 100%;
    margin: 0;
    height: 330px;
    font-size: 14px;
}
.footer *{
    text-align: center;
    overflow: hidden;
}
.footer-top{
    background-color: rgb(246, 234, 191);
    height: 170px;
    width: 100%;
}
.footer .comInfo{
    display: block;
    width: 400px;
    float: left;
    height: 100%;
}
.comInfo .logo{
    line-height: 130px;
}
.brandWrap{
    
    height: calc(100%/2.3);
}
.brandWrap .logo{
    font-size: 30px;
    color: rgb(151, 150, 140);
}
.InfoWrap .info1{
    text-align: left;
    width: calc(100%/2);
    float: left;
}
.info2 ul b,.info2 li{
    float: left;
}
.info2 b{
    width: 100px;
    text-align: left;
}
.info2 li{
    width: 80px;
}
.linkBox{
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 1px solid gray;
}
.linkBox li{
    float: left;margin-right: 20px;
    text-align: left;
    font-weight: 800;
    padding-bottom: 10px;
}
.adressBox{
    float: left;
    text-align: left;
    font-size: 10px;
    margin-left: 50px;
}
.certiMark{
    text-align: right;
    margin-right: 40px;
}
.footer-bottom{
    width: 100%;
}

/* 메인 내부 서브 네비 */
.main-left-box{
    width: 265px;
    padding: 23px;
    box-sizing: border-box;
    background-color: #f6eabf;
    margin-right: 60px;
}
.main-left-box>h2{
    margin: 0;
    height: 50px;
    cursor: default;
    border-bottom: 5px solid #565c54;
    margin-bottom: 25px;
}
.main-left-box ul{
    list-style-type: none;
    padding: 0;
}
.main-left-box ul>*{
    text-indent: 5px;
}
.main-left-box>ul>li>span{
    font-family: 'ns_b';
    font-size: 18px;
    cursor: default;
    display: block;
    border-bottom: 1px dotted #b9a989;
    padding-bottom: 8px;
    margin-bottom: 8px;
}
.subnavi{
    margin-bottom: 25px;
}
.subnavi a{
    display: block;
    text-decoration: none;
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 2px;
    position: relative;
}
.subnavi a>span{
    position: absolute;
    right: 10px;
    font-size: 10px;
    font-family: 'ns_b';
    display: none;
}

/* 클릭 표시 a태그 배경색 #d6c6a5 */

.main-content{
	margin-top: 10px;
    width: 875px;
}