.languageList{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    height: 100px;
    padding: 0;
}
.language_icon{
    opacity: 1;
    width: 60px;
    height: 60px;
}

.language_icon_disabled{
    opacity: 0.6;
}
.languageItem{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.languageItem:hover img{
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);   
    -o-transform:scale(1.2);
    transform:scale(1.2);
}

#languageBox_label{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
#label_font1{
    font-size: 15px;
    font-weight: 900;
}

.recruitBox{
    margin-top: 80px;
}

.rBox_navi{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.rBox_navi_icon{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.navi_left_font{
    position: relative;
    top: 8px;
    font-size: 20px;
    font-weight: 900;
}
.navi_right_font{
    
    font-size: 20px;
    font-weight: 900;
}

.navi_checkbox{
    position: relative;
    top: 8px;
    width: 30px;
    height: 30px;
}

#navi_button{
    position: relative;
    bottom: 3px;
    margin-left: 20px;
}

#rListBox{
    margin-top: 80px;
    
}
.imgBox{
    /* border: 2px solid #90d1b4; */
    margin-right: 10px;
}
.myInfoImg{
    width: 150px;
    height: 150px;
}

.contentFlexBox{
    display: flex;
    justify-content: center;
}
.contentBox{
    width: 600px;
    border: 2px solid #90d1b4;
}
.textFlexBox1{
    display: flex;
    justify-content: space-between;
}
.textFlexBox2{
    display: flex;
    justify-content: space-between;
}