.main{
    width: 1180px;
    margin: 0 auto;
    padding: 3px;
    padding-top: 143px;
}
.title>h1{
    font-family: "bangers";
    text-align: center;
    margin-top: 50px;
    color: #12615b;
}
.login-wrap{
    width: 750px;
    margin: 0 auto;
    border-top: 2px solid #12615b;
    border-bottom: 2px solid #12615b;
}
.login-top{
    overflow: hidden;
}
.login-top>div{
    float: left;
}
.login-left>div{
    height: 50px;
}
.login-left{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
}
.login-left input{
    border: 2px solid #12615b;
    margin-left: 70px;
    width: 350px;
    height: 50px;
    font-size: 15px;
    padding: 0px;
}
.login-right{
    margin-top: 20px;
    margin-left : 80px;
    width: 150px;
    height: 100px;
}
.login-bottom{
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-top: 2px solid #12615b;
    
}
.login-bottom>a{
    padding: 20px;
    text-decoration: none;
    font-family: "ns_b";
    color: #12615b;
    transition-duration: 0.8s;
}
.login-bottom>a:hover{
    color: yellowgreen;
}
input[type=submit]{
    width: 130px;
    height: 90px;
    margin: 5px;
    border: 2px solid #12615b;
    background-color: #ffffff;
    color: #12615b;
    border-radius: 10px;
    font-family: "ns_b";
}
input[type=submit]:hover{
    color: white;
    background-color: #12615b;
    border: none;
}

